<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Marta.DataFeed.ISnapshotSource, Marta.DataFeed" mapTo="Marta.DataFeed.HttpSource, Marta.DataFeed"/>
      <register type="Marta.DataFeed.ISnapshotSink, Marta.DataFeed" mapTo="Marta.DataFeed.EventHubSink, Marta.DataFeed"/>
    </container>
  </unity>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="ehConnectionString" value="Endpoint=sb://martasnapshots.servicebus.windows.net/;SharedAccessKeyName=SendRule;SharedAccessKey=mlnEtWIT9v8HFVfHNkBFGa6/h/C2DjvUXb5S+TNXAE8="/>
    <add key="ehName" value="itsmarta"/>
  </appSettings>
</configuration>
